$border-color: #999;
$border-color-hover: #666;
$border-color-light: lighten($border-color, 30%);
$border-radius: 4px;

$button-bg: white;
$button-active-bg: #eee;

$input-height: 32px;

$font-size: 14px;

$green: #42B983;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}